.Heading{
    display: inline;
   font-size: 50px;
   font-weight: 600;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Paragraph{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
.btn{
    margin-top: 150px ;
    margin-left: 800px;
   
}
.btn2{
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    
}

.btn2:hover {
    background-color: #45a049;  }